 header{
    text-align: center;
    padding: 20px;
    background-color: black;
}

nav{
        justify-content: right;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
nav ul{
    list-style: none;
    display: flex;  
    justify-content: space-between;
    width: 450px;
    
}

nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.3 seconds;
}

nav a:hover{
    color: green;
    font-size: 25px;
    background-color: white;
    border-radius: 5px;
}

.Champion{
  background-image: url('Make a picture with an education program logo in the middle center for a programme named_ Help-Me-Understand. It is a programme for an organisation that helps high school learners with their studies.jpg'); /* Replace with your image path */
  background-size: cover; /* ensures the image covers the whole section */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


@media (max-width: 700px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}


